// Colors
$white: hsl(0, 0%, 100%);
$grey_1: hsl(0, 0%, 95%);
$grey_2: hsl(0, 0%, 90%);
$grey_3: hsl(0, 0%, 93%);
$grey_4: hsl(0, 0%, 88%);
$grey_5: hsl(0, 0%, 74%);
$grey_6: hsl(0, 0%, 62%);
$grey_7: hsl(0, 0%, 46%);
$grey_8: hsl(0, 0%, 38%);
$grey_9: hsl(210, 2%, 26%);
$grey_10: hsl(210, 3%, 13%);
$black: hsl(0, 0%, 0%);

// Brand Colors - Needed for buttons, paragraphs colors and backgrounds in Gutenberg.
$brand_colors: (
    pink: hsl(333, 77%, 67%),
    blue: hsl(200, 57%, 51%),
    light-pink: hsl(333, 77%, 93%),
    light-grey: hsl(230, 30%, 96%),
    black: hsl(214, 28%, 5%),
    white: hsl(0, 0%, 100%),
);

// Colors
$colors: (
    //
    // Mains colors
    primary-300: hsl(333, 77%, 80%),
    primary-400: hsl(333, 77%, 67%),
    primary-500: hsl(333, 77%, 55%),
    secondary-300: hsl(200, 57%, 62%),
    secondary-400: hsl(200, 57%, 51%),
    secondary-500: hsl(200, 57%, 40%),
    //
    // Greys
    grey-100: hsl(0, 0%, 95%),
    grey-200: hsl(0, 0%, 93%),
    grey-300: hsl(0, 0%, 90%),
    grey-400: hsl(0, 0%, 88%),
    grey-500: hsl(0, 0%, 74%),
    grey-600: hsl(0, 0%, 62%),
    grey-700: hsl(0, 0%, 46%),
    grey-800: hsl(0, 0%, 32%),
    grey-900: hsl(0, 0%, 15%),
    //
    // Font and utility colors
    font-400: hsl(40, 13%, 23%),
    headings-400: hsl(198, 10%, 19%),
    border-400: hsl(0, 0%, 93%),
    //
    // Menu color variables
    submenu-bg: hsl(0, 0%, 100%),
    submenu-bg-hover: hsl(0, 0%, 95%),
    mobile-menu-bg: hsl(214, 28%, 5%),
    //
    // Toggle menu
    toggle-menu-bg: hsl(333, 77%, 67%),
    toggle-menu-bg-active: hsl(333, 77%, 67%),
    toggle-menu-bars: white,
    toggle-menu-bars-active: white,
    //
    // Buttons
    button-bg-300: hsl(333, 77%, 80%),
    button-bg-400: hsl(333, 77%, 67%),
    button-bg-500: hsl(333, 77%, 55%),
    button-border-300: hsl(24, 75%, 60%),
    button-border-400: hsl(24, 75%, 50%),
    button-border-500: hsl(24, 75%, 40%),
    button-text: hsl(24, 75%, 50%),
    //
    // Social colors
    facebook: hsl(221, 44%, 41%),
    twitter: hsl(195, 100%, 47%),
    pinterest: hsl(358, 73%, 46%),
    linkedin: hsl(199, 85%, 36%),
    instagram: hsl(276, 51%, 47%)
);
