@use "abstracts" as *;
@use "../vendor/include-media" as *;

.archive .site-main {
    margin-bottom: $margin_4x;
}

/* Archive Styles (based on partials/archive).
------------------------------------------------------------------------------ */

.lcm-posts {
    &.grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: $margin_2x $grid-gap;
    }
}

.lcm-post {
    display: flex;
    flex-flow: column;

    border: 1px solid var(--clr-border-400);
    border-radius: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;
    will-change: box-shadow;

    &:hover {
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
            0 8px 10px -6px rgb(0 0 0 / 0.1);
    }

    &__aside {
        position: relative;
        aspect-ratio: 3 / 2;

        img {
            border-radius: 0;
            border-top-right-radius: 1.5rem;
            border-top-left-radius: 1.5rem;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // floating category over the image
    &__category {
        // margin-block: 1rem;
        position: absolute;
        inset: 1rem auto auto 1rem;

        a {
            font-size: 0.85rem;
            color: var(--clr-primary-400);
            border-radius: 99px;
            background-color: var(--clr-light-pink);
            text-decoration: none;
            padding: 0.2rem 1rem;
        }
    }

    // &__image-link img {
    //     border-radius: 0;
    //     border-top-right-radius: 1.5rem;
    //     border-top-left-radius: 1.5rem;
    // }

    // &__category {
    //     margin-block: 1rem;

    //     a {
    //         font-size: 0.85rem;
    //         color: var(--clr-primary-400);
    //         border-radius: 99px;
    //         background-color: var(--clr-light-pink);
    //         text-decoration: none;
    //         padding: 0.2rem 1rem;
    //     }
    // }

    &__body {
        padding: 1rem;
        flex-grow: 1;
    }

    &__title {
        margin: 0.5rem 0 $base-margin 0;
        font-size: clamp(1.25rem, 1.1rem + 0.7vw, 1.4rem);

        a {
            text-decoration: none;
            color: var(--clr-font-400);

            &:hover {
                color: var(--clr-primary-400);
            }
        }
    }

    &__copy {
        font-size: 16px;
        margin-bottom: 1rem;
    }

    // Post footer (inside lcm-post__body)
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        // padding-inline: 1rem;

        margin-top: auto;
    }

    &__date {
        font-size: 0.85rem;
        color: var(--clr-grey-600);
    }

    &__read-more-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
        color: var(--clr-primary-400);

        svg {
            fill: var(--clr-primary-400);
        }
    }
}

/* Archive Header
--------------------------------------------- */

.archive-description {
    width: 100%;
    margin: 0 auto $grid-gap;

    & > *:last-child {
        margin-bottom: 0;
    }

    .search-form {
        margin: 0 auto;
    }
}

.author-archive-description {
    .avatar {
        border-radius: 50%;
        display: block;
        margin: 0 auto 16px;
    }

    h3:last-child {
        @include media(">=tablet") {
            margin-top: 48px;
        }
    }
}

.author-title {
    color: var(--clr-grey-800);
    @include font-sizes(18px, 20px);
    font-weight: 700;
    text-transform: uppercase;
}

/* Entry Navigation
--------------------------------------------- */

.pagination {
    grid-column: 1 / -1;
    border-top: 1px solid var(--clr-border-400);
    font-size: 16px;
    text-align: center;
    padding-top: 22px;
    margin-top: $block-margin;

    ul {
        margin: 0;
        padding-left: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        li {
            list-style-type: none;
            display: inline-block;

            a {
                color: var(--clr-font-400);
                background-color: var(--clr-grey-200);
                border-radius: 3px;
                display: block;
                font-weight: 400;
                text-decoration: none;
                width: 2rem;
                height: 2rem;
                line-height: 30px;
                text-align: center;
            }

            &.pagination-next a,
            &.pagination-previous a {
                width: auto;
                padding: 0 1rem;
            }

            &:hover,
            &:focus,
            &.active {
                > a {
                    background: var(--clr-primary-400);
                    color: white;
                }
            }

            // &.active > a {
            //     background: var(--clr-primary-400);
            //     color: white;
            // }
        }
    }
}
